<!DOCTYPE html>
<html>


  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div button class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do %>
                 <span class="fas fa-home home-btn text-light: :before"></span>
                 Home
                <% end %>
              </li>
              </li>
              <li>
                <%= link_to("/users") do %>
                 <span class="fas fa-users users-btn text-light: :before"></span>
                 Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path do %>
                 <span class="fas fa-book-open book-open-btn text-light: :before"></span>
                 Books
                <% end %>
              </li>
              <li>
                <%= link_to("/users/sign_out",method: :delete) do %>
                 <span class="fas fa-sign-out-alt sign-out-alt-btn text-light: :before"></span>
                 Log out
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to("/") do %>
                 <span class="fas fa-home home-btn text-light: :before"></span>
                 Home
                <% end %>
              </li>
              <li>
                <%= link_to("/home/about") do %>
                 <span class="fas fa-link link-btn text-light: :before"></span>
                About
                <% end %>
              </li>
              <li>
                <%= link_to("/users/sign_up") do %>
                 <span class="fas fa-user-plus user-plus-btn text-light: :before"></span>
                Sign up
                <% end %>
              </li>
              <li>
                <%= link_to("/users/sign_in") do %>
                 <span class="fas fa-sign-in-alt sign-in-alt-btn text-light: :before"></span>
                Log in
                <% end %>
              </li>
             <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
